.salesman-details li{
  float: left;
  list-style: none;
  padding: 6px;
  min-height: 32px;
}
.salesman-details li:nth-child(odd) {
  width: 30%;
  font-weight: bold;
}
.salesman-details li:nth-child(even) {
  width: 70%;
}
